<div style="width: fit-content;margin: auto;">
    <h4>新增项目配置</h4>
    <form action="/gm/add" method="post" enctype="application/x-www-form-urlencoded">
        <div
            style="display: grid;grid-template-columns: 200px auto;grid-template-rows: repeat(8,40px); text-align: left;">
            <div>项目代号：</div>
            <div>
                <input type="text" name="code" />
            </div>
            <div>项目名称：</div>
            <div><input type="text" name="name" /></div>
            <div>项目根目录：</div>
            <div>
                <input type="text" id="root" name="root" style="width: 400px;" />
            </div>
            <div>分支名：</div>
            <div>
                <input type="text" id="branch" name="branch" style="width: 400px;" />
            </div>
            <!-- <div>开发版项目根目录：</div>
            <div>
                <input type="text" id="rootDev" name="rootDev" style="width: 400px;" />
            </div>
            <div>开发版分支名：</div>
            <div>
                <input type="text" id="branchDev" name="branchDev" style="width: 400px;" />
            </div> -->
            <div>项目excel文件存放目录：</div>
            <div>
                <input type="text" id="excelsDir" name="excelsDir" style="width: 400px;" />
            </div>
            <div>json文件导出配置：</div>
            <div>
                <input type="text" id="jsonOutputConfigFile" name="jsonOutputConfigFile" style="width: 400px;" />
            </div>
            <div></div>
            <div>
                <input type="submit" value="添加" />
            </div>
        </div>
    </form>
</div>
<div style="text-align: center;width: fit-content;margin: auto;">
    <a href="/">返回</a>
</div>