<!DOCTYPE html>
<html>

<head>
    <title>7部项目自动化系统</title>
</head>

<body style="margin: auto; text-align: center;">
    <h1>7部项目自动化系统</h1>
    <%- include('gm-list',{items: items}); %>
</body>

</html>