<!DOCTYPE html>
<html>

<head>
    <title>提示</title>
</head>

<body>
    <div style="width: fit-content;margin: auto;text-align: center;">
        <h2>
            <%= result %>
        </h2>
        <a href="<%= url %>">返回</a>
    </div>
</body>

</html>