<!DOCTYPE html>
<html>

<head>
    <title>哥布林服务端接口数据压测结果</title>
    <script src="/echarts.js"></script>
</head>

<body>
    <form action="/gm/info" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="id" value="<%= id %>" style="display: none;" />
        <input type="submit" value="返回">
    </form>
    <br />
    <br />
    <br />
    <div id="allData" style="display: none;">
        <%= allData %>
    </div>
    <div id="subData" style="display: none;">
        <%= subData %>
    </div>
    <div id="all" style="width: 100%;height: 400px;"></div>
    <div id="sub1" style="width: 80%;height: 400px;"></div>
    <div id="sub2" style="width: 80%;height: 400px;"></div>
    <form id="submitForm" action="/charts/sub" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="id" value="<%= id %>" style="display: none;" />
        <input type="text" id="subIndex" name="subIndex" value="" style="display: none;" />
    </form>
    <script type="text/javascript">
        var allChart = echarts.init(document.getElementById('all'));
        var allData = document.getElementById('allData').innerText;
        allChart.setOption(JSON.parse(allData));
        // type EventParams = {
        //     // 当前点击的图形元素所属的组件名称，
        //     // 其值如 'series'、'markLine'、'markPoint'、'timeLine' 等。
        //     componentType: string;
        //     // 系列类型。值可能为：'line'、'bar'、'pie' 等。当 componentType 为 'series' 时有意义。
        //     seriesType: string;
        //     // 系列在传入的 option.series 中的 index。当 componentType 为 'series' 时有意义。
        //     seriesIndex: number;
        //     // 系列名称。当 componentType 为 'series' 时有意义。
        //     seriesName: string;
        //     // 数据名，类目名
        //     name: string;
        //     // 数据在传入的 data 数组中的 index
        //     dataIndex: number;
        //     // 传入的原始数据项
        //     data: Object;
        //     // sankey、graph 等图表同时含有 nodeData 和 edgeData 两种 data，
        //     // dataType 的值会是 'node' 或者 'edge'，表示当前点击在 node 还是 edge 上。
        //     // 其他大部分图表中只有一种 data，dataType 无意义。
        //     dataType: string;
        //     // 传入的数据值
        //     value: number | Array;
        //     // 数据图形的颜色。当 componentType 为 'series' 时有意义。
        //     color: string;
        // };
        allChart.on('click', function (params) {
            document.getElementById('subIndex').value = params.dataIndex;
            let frm = document.getElementById('submitForm');
            frm.submit();
        });


        var subData = JSON.parse(document.getElementById('subData').innerText);
        var subChart1 = echarts.init(document.getElementById('sub1'));
        subChart1.setOption(subData.charts1);
        var subChart2 = echarts.init(document.getElementById('sub2'));
        subChart2.setOption(subData.charts2);
    </script>
</body>

</html>